@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 15px;
}
.wrapper {
  max-width: 1366px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #0f4191;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
a:hover {
  color: black;
  text-decoration: underline;
}
.loginbox .login {
  margin-right: 45px;
  margin-left: 13px;
}
.loginbox .login:after {
  content: '';
  background: url(../img/down-arrow.svg) 0 / 100%;
  width: 10px;
  height: 10px;
  position: absolute;
  margin: 6px 0 0 5px;
}
.loginbox .delimiter {
  min-height: 1px;
  width: 300px;
  border-top: 1px solid #ccc;
  margin: 24px 0 0 -15px;
  text-align: center;
}
.loginbox .delimiter:before {
  content: 'ИЛИ';
  position: absolute;
  margin-top: -11px;
  margin-left: -20px;
  padding: 0 5px;
  background: white;
}
.loginbox .loginform {
  z-index: 2;
  position: absolute;
  background: white;
  border-radius: 15px;
  padding: 15px;
  width: 300px;
  margin-left: -210px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.1s ease-in-out;
}
.loginbox .loginform:before {
  content: '';
  border: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  margin-top: -35px;
  margin-left: 87px;
}
.loginbox .loginform .authicon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
.loginbox .loginform .googleicon {
  background: url(../img/search.svg) no-repeat 0 / 100%;
}
.loginbox .loginform .vkicon {
  background: url(../img/vk.svg) no-repeat 0 / 100%;
}
.loginbox .loginform .socialicons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.loginbox .loginform form {
  flex-direction: column;
  align-items: center;
}
.loginbox .loginform form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.loginbox .loginform form a {
  margin-right: 10px;
}
.loginbox .loginform .socialauth {
  margin-top: 15px;
}
.loginbox .loginform input[type="text"],
.loginbox .loginform input[type="password"] {
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  outline: none;
  transition: all 0.1s ease-in-out;
}
.loginbox .loginform input[type="text"]:focus,
.loginbox .loginform input[type="password"]:focus {
  border-color: #aaa;
}
.loginbox .loginform input:nth-of-type(2) {
  margin-top: 10px;
}
.loginbox .loginform input[type="button"] {
  border: none;
  padding: 8px 13px;
  border-radius: 15px;
  outline: none;
  background: #2855A8;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  width: 128px;
}
.loginbox .loginform input[type="button"]:hover {
  filter: brightness(1.3);
}
.loginbox .loginform a {
  color: black;
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a {
  color: white;
}
header a:hover {
  color: white;
}
.menu {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 70px;
}
.menu a {
  margin-left: 25px;
}
.menu .logo {
  background: url(../img/whitelogo.svg);
  height: 30px;
  width: 90px;
  margin-left: 10px;
}
.biglogo {
  background: url(../img/logo.svg);
  width: 200px;
  height: 68px;
}
.searchbox {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #efefef url(../img/descbg2.jpg);
  background-size: cover;
  background-position: center;
  padding: 30px;
  margin-top: -70px;
  padding-top: 70px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
}
.searchbox .search {
  background: white;
  padding: 2px;
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
  display: flex;
  justify-content: spa;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.searchbox .search input[type="text"] {
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 15px 0 0 15px;
  outline: none;
  color: #404040;
}
.searchbox .search input[type="text"]:focus {
  color: black;
}
.searchbox .search input[type="button"] {
  border: none;
  padding: 15px 20px;
  border-radius: 15px;
  outline: none;
  background: #2855A8;
  color: white;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.searchbox .search input[type="button"]:hover {
  filter: brightness(1.3);
}
.searchbox .example {
  color: #efefef;
  width: 100%;
  max-width: 600px;
  margin-top: 5px;
  font-size: 13px;
  margin-left: 34px;
}
.searchbox .example a {
  font: inherit;
  color: #efefef;
  margin-left: 0px;
  text-decoration: underline;
}
.searchbox .example a:hover {
  color: white;
}
.searchbox h1,
.searchbox h2 {
  color: white;
  text-align: center;
  font-size: 45px;
}
.searchbox h2 {
  font-size: 20px;
}
.searchbox h2:nth-of-type(1) {
  margin-bottom: 25px;
}
.searchbox h2:nth-of-type(2) {
  margin-top: 15px;
  margin-bottom: 17px;
}
.searchbox .addservice {
  color: white;
  margin-left: 0;
  font-size: 16px;
  text-align: center;
}
.categoriesbox {
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.categoriesbox .allcatsbut {
  font-size: 25px;
  margin-top: 40px;
}
.categoriesbox .categories {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-between;
}
.categoriesbox .categories .category {
  width: 321px;
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  padding-left: 60px;
  margin: 0;
}
.categoriesbox .categories .category:before {
  content: '';
  width: 35px;
  height: 35px;
  background-position: 0 0;
  position: absolute;
  margin: 16px 0 0 -55px;
}
.categoriesbox .categories .category:nth-of-type(1):before {
  background: url(../img/categories/broom.svg) 0 / 100%;
}
.categoriesbox .categories .category:nth-of-type(2):before {
  background: url(../img/categories/hair-clipper.svg) 0 / 100%;
}
.categoriesbox .categories .category:nth-of-type(3):before {
  background: url(../img/categories/tools.svg) 0 / 100%;
}
.categoriesbox .categories .category:nth-of-type(4):before {
  background: url(../img/categories/roof.svg) 0 / 100%;
}
.categoriesbox .categories .category:nth-of-type(5):before {
  background: url(../img/categories/fireworks.svg) 0 / 100%;
}
.categoriesbox .categories .category:nth-of-type(6):before {
  background: url(../img/categories/camera.svg) 0 / 100%;
}
.categoriesbox .categories .category:nth-of-type(7):before {
  background: url(../img/categories/delivery.svg) 0 / 100%;
}
.categoriesbox .categories .category:nth-of-type(8):before {
  background: url(../img/categories/open-book.svg) 0 / 100%;
}
.categoriesbox .categories .category:nth-of-type(9):before {
  background: url(../img/categories/cat.svg) 0 / 100%;
}
.categoriesbox .categories .category:nth-of-type(10):before {
  background: url(../img/categories/auction.svg) 0 / 100%;
}
.categoriesbox .categories .category:nth-of-type(11):before {
  background: url(../img/categories/sketch.svg) 0 / 100%;
}
.categoriesbox .categories .category:nth-of-type(12):before {
  background: url(../img/categories/computer.svg) 0 / 100%;
}
.categoriesbox a {
  color: black;
}
.bestcontractorsbox {
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}
.bestcontractorsbox .contractors {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
.bestcontractorsbox .contractors .contractor {
  padding: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px 40px 30px 40px;
}
.bestcontractorsbox .contractors .contractor .contractor_img {
  border-radius: 100%;
  height: 150px;
}
.bestcontractorsbox .contractors .contractor .contractor_img img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
}
.bestcontractorsbox .contractors .contractor .contractor_img:before {
  content: '';
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.bestcontractorsbox .contractors .contractor .contractor_img:after {
  content: 'Профиль';
  font-weight: 500;
  position: absolute;
  margin-left: -108px;
  margin-top: 65px;
  color: white;
  opacity: 0;
  transition: all 0.1s ease-in-out;
}
.bestcontractorsbox .contractors .contractor .contractor_img:hover {
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}
.bestcontractorsbox .contractors .contractor .contractor_img:hover:before {
  opacity: 1;
}
.bestcontractorsbox .contractors .contractor .contractor_img:hover:after {
  opacity: 1;
}
.bestcontractorsbox .contractors .contractor .contractor_rating {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
}
.bestcontractorsbox .contractors .contractor .contractor_rating:after {
  content: '';
  width: 15px;
  height: 15px;
  background: url(../img/star.svg) 0 / 100%;
  position: absolute;
  margin-top: 2px;
  margin-left: 4px;
}
.bestcontractorsbox .contractors .contractor .contractor_name {
  font-weight: 500;
  text-align: center;
  font-size: 18px;
  margin-top: 10px;
}
.bestcontractorsbox .contractors .contractor .contractor_maincategory {
  text-align: center;
  margin-top: 5px;
}
h1 {
  font-size: 25px;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .searchbox {
    background-size: auto 100%;
  }
}
@media screen and (max-width: 469px) {
  .searchbox h1 {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .searchbox h2 {
    font-size: 15px;
  }
  .logo {
    margin-left: 0 !important;
  }
  .loginbox {
    margin-right: 25px;
    display: none;
  }
}
